.gameactivity-flow {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    /*padding: 20px;  Consistent padding for better spacing */
    }

.event-info-notop {
        margin-top: 30px; /* Adds space between the image and the event info */
        padding: 20px;
        background-color: #f9f9f9; /* Light background for the event info area */
        border-top: 2px solid #ccc;
    }